<!-- layout.hbs has layouts which is used by each render file -->
<html>
	<head>
		<title>{{title}}</title>
		<link rel='stylesheet' href='site/css/style.css' />
	</head>
	<body>
		{{{body}}}
	</body>
</html>